<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title th:text="'User List'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color: honeydew">
<div class="container-fluid">
    <div class="navbar navbar-dark bg-dark">
        <div class="navbar-brand" th:text="'Hallo, ' + ${customer} + '!'"></div>
    </div>
    <br/>
    <form class="row align-items-center" action="/talk" method="post">
        <input title="Vortragsthema:" type="text" name="Vortragsthema" autofocus class="form-control col-3 ml-3 mr-3">
        <button type="submit" class="col-1 btn btn-primary">Vortrag erstellen</button>
        <div class="col-4 text-info" th:text="${topicCreateMessage}"></div>
    </form>
    <hr/>
    <div class="row">
        <div class="col-12">
            <h2>Vortragsliste:</h2>
        </div>
    </div>
    <form th:each="talk: ${talks}">
        <div class="row align-items-center">
            <label class="col-3">Thema
                <input title="Name:" th:value="${talk.getHeadline()}" name="Vortragsthema" readonly
                       class="form-control"/>
            </label>
            <div class="col-1">
                <button type="submit" formaction="/talk/toggleStatus" formmethod="post"
                        th:text="${talk.getStatusButtonText()}" class="btn btn-outline-primary mt-3"></button>
            </div>
            <label class="col-1">Bewertbar
                <input title="Status:" th:value="${talk.getStatusOfTalk()}" readonly class="form-control"/>
            </label>
            <div class="col-1"></div>
            <label class="col-1">+
                <input title="RateTop:" th:value="${talk.getTop()}" readonly class="form-control"/>
            </label>
            <div class="col-1">
                <button type="submit" formaction="/talk/addFeedback/TOP" formmethod="post"
                        th:disabled="${!talk.isRateEnabled()}" class="btn btn-success mt-3">
                    Top
                </button>
            </div>
            <label class="col-1">o
                <input title="RateOkay:" th:value="${talk.getOkay()}" readonly class="form-control"/>
            </label>
            <div class="col-1">
                <button type="submit" formaction="/talk/addFeedback/OKAY" formmethod="post"
                        th:disabled="${!talk.isRateEnabled()}" class="btn btn-warning mt-3">
                    Okay
                </button>
            </div>
            <label class="col-1">-
                <input title="RateFlop:" th:value="${talk.getFlop()}" readonly class="form-control"/>
            </label>
            <div class="col-1">
                <button type="submit" formaction="/talk/addFeedback/FLOP" formmethod="post"
                        th:disabled="${!talk.isRateEnabled()}" class="btn btn-danger mt-3">
                    Flop
                </button>
            </div>
        </div>
        <hr/>
    </form>
</div>
</body>
</html>