<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title th:text="${customer} + ' User Manager'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hallo, ' + ${customer} + '!'"></p>
<form action="/player" method="post">
    Spielername: <input type="text" name="Spielername">
    <button type="submit">Spieler Erstellen</button>
</form>
<div th:text="${playerCreateMessage}"></div>
<form action="/player-list" method="get">
    <button type="submit">Spielerliste...</button>
</form>
</body>
</html>